.cabecera{
    height: 40px;
    background:#FAFBFD;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.60); */
    border-bottom: 1px solid #ccc;
}
.menu{
    background:#FEFEFE;
    border-right: 1px solid #EDEDED;
    color:#406AD8;
}

.menu a{
    color: #222;

}
.menu li{
    margin-top: 10px;
}
.contenido{
    background:#eee;
    height: 100%;
}

.contenido-infraccion{
    height: 100%;
    overflow-y:scroll;
    font-size:12px;
    
}

.data-infraccion{
    background:#FCF7F6;
}
